# Python
*.py[cod]

# Packages
*.egg
*.tar.gz
*.zip

# Tests/Coverage
.coverage
.tox

# virtualenv
_venv

# Mac
.DS_Store

# Vim
*.swp
*~

# distutils
build
dist
sdist
PyLit6.egg-info

# Sphinx
docs/_build
